<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Share Text</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-textarea
      [(ngModel)]="text"
      autoGrow="true"
      label="Text to encrypt"
      labelPlacement="stacked"
      placeholder="Paste or type the string to share"
      rows="8"
    ></ion-textarea>
  </ion-item>

  <ion-button (click)="prepare()" [disabled]="isWorking" expand="block" class="primary-action">
    <ion-spinner *ngIf="isWorking" name="crescent" slot="start"></ion-spinner>
    <ion-icon *ngIf="!isWorking" name="key-outline" slot="start"></ion-icon>
    Encrypt
  </ion-button>

  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <section *ngIf="prepared" class="result">
    <img [src]="prepared.qrDataUrl" alt="Encrypted text share QR code" />
    <ion-item>
      <ion-textarea
        [ngModel]="prepared.shareCode"
        label="Share code"
        labelPlacement="stacked"
        readonly="true"
        rows="7"
      ></ion-textarea>
    </ion-item>
  </section>
</ion-content>
